<div class="jumbotron">
    <h1>Centro de Mensajes (Compresión: <span id="compresion-info"></span>%)</h1>
    <br>

    <input type="text" id="username" class="form-control w-50 my-2 mr-2" placeholder="Ingresá tu email">
    <input type="text" id="firstname" class="form-control w-50 my-2 mr-2" placeholder="Ingresá tu nombre">
    <input type="text" id="lastname" class="form-control w-50 my-2 mr-2" placeholder="Ingresá tu apellido">
    <input type="text" id="age" class="form-control w-50 my-2 mr-2" placeholder="Ingresá tu edad">
    <input type="text" id="alias" class="form-control w-50 my-2 mr-2" placeholder="Ingresá tu alias">
    <input type="text" id="avatar" class="form-control w-50 my-2 mr-2" placeholder="Ingresá tu avatar (url)">
    <hr>

    <hr>

    <div id="mensajes"></div>

    <form id="formPublicarMensaje" class="form-inline" autocomplete="off">
        <div class="form-group">
            <input disabled id="inputMensaje" type="text" class="form-control my-2 mr-2"
                placeholder="Ingresá un mensaje...">
            <button disabled id="btnEnviar" type="submit" class="btn btn-primary my-2">Enviar!</button>
        </div>
    </form>
</div>
</div>